/* applies only to click enabled elements */
div.event.clickEnabled:hover {
    /* shamelessly stolen from semantic's button class */
    background-color: rgba(0, 0, 0, 0.05) !important;
    background-image: none !important;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset !important;
}

/* applies to both */
div.event.clickEnabled, div.event.clickDisabled {
    /* shamelessly stolen from semantic's button class */
    -webkit-transition: opacity .2s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease !important;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease !important;
    transition-property: opacity, background-color, color, box-shadow, background !important;
    transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s !important;
    transition-timing-function: ease, ease, ease, ease, ease !important;
    transition-delay: initial, initial, initial, initial, initial !important;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0 !important; /* standards-compliant: (IE) */
    padding: 10px !important;
}
